html {
  font-family: sans-serif;
  display: inline-block;
  margin-left: 2em;
}

body {
  margin: 0;
}

header {
  background: purple;
  height: 100px;
}

h1 {
  text-align: center;
  color: red;
  line-height: 100px;
  margin: 0;
}

h2 {
  text-align: center;
  color: green;
  line-height: 100px;
  margin: 0;
}
article {
  padding: 10px;
  margin: 10px;
  background: aqua;
}

section {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  margin-right: 50px;
}

form {
  color: red;
}

input {
  color: green;
}

.answer {
  color: rgb(38, 0, 255);
}
